<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>2016-08-14</comment>
<entry key="font-face">黑体</entry>
<entry key="heart">3</entry>
<entry key="step-time">36</entry>
<entry key="color">RED</entry>
<entry key="server-address"/>
<entry key="step">600</entry>
<entry key="queue-length">6</entry>
<entry key="font-size">48</entry>
</properties>
